files/config/hub
files/config/gcloud
files/config/configstore
files/config/iTerm2
files/config/anyenv
files/earthquake/history*
files/earthquake/config
files/vim/bundle/*
files/vim/dein/*
files/vim/undo/*
files/vim/cache/*
files/vim/tmp/*
files/vim/.netrwhist
files/bin/misspell
!.gitkeep

*.lock.json

*.pyc
*.pyo
*.swp
._*
*~
.DS_Store
*.bak
*.mo
